# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# next.js build & export
/.next/
/out/

# production
/build
/dist

# testing
/coverage

# logs & caches
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.log
.eslintcache
.cache/

# editors & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# env files (keep out of git)
/.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# misc keys
*.pem

# local artifacts (e.g., zipped static export)
site.zip
*.zip
